APP_ENV=local

NGINX_PORT=8010
FRONTEND_PORT=4321

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=support@justgui.dev
SMTP_PASSWORD="your-smtp-password"
SMTP_FROM=support@justgui.dev
SMTP_FROM_NAME=justgui
CONTACT_TO=your-admin-email@example.com

DATABASE_PATH=./data/justgui.sqlite
VISITOR_IP_SALT=change-me-in-production

PUBLIC_APP_ENV=local
PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/justgui
PUBLIC_GITHUB_URL=https://github.com/justgu1
PUBLIC_INSTAGRAM_URL=https://www.instagram.com/just.guis

PUBLIC_SITE_URL=http://localhost:8010
PUBLIC_GA4_MEASUREMENT_ID=
PUBLIC_META_PIXEL_ID=
PUBLIC_CV_URL=/cv/GuilhermeSantos-Curriculo-2026.pdf
PUBLIC_WHATSAPP_NUMBER=5511976598853
