---
import { getLang } from "../langs";
import { createT } from "../langs/createT";
import { withLang } from "../utils/utils";
import { SITE_CONFIG } from "../config/site";

interface Props {
  lang: string;
}

const { lang } = Astro.props;

const t = createT(getLang(lang));
---

<footer>
<p>© {new Date().getFullYear()} <span>{t("firstName")}</span> <span>{t("lastName")}</span>. {t("footer.rights")}.</p>

<ul>
    <li>
        <a href={SITE_CONFIG.linkedinUrl}>{t("social.linkedin")}</a>
    </li>
    <li>
        <a href={SITE_CONFIG.githubUrl}>{t("social.github")}</a>
    </li>
    <li>
        <a href={SITE_CONFIG.instagramUrl}>{t("social.instagram")}</a>
    </li>
</ul>
</footer>