---
import { getLang } from "../langs";
import { createT } from "../langs/createT";
import { withLang } from "../utils/utils";

interface Props {
  lang: string;
}

const { lang } = Astro.props;

const t = createT(getLang(lang));
---

<header class="header">
    <nav class="nav header-nav">
        <a href="/" class="header-homepage-link">
            <div class="header-name">
                <span class="header-name-firstname">{t("firstname")}</span>
                <span class="header-name-lastname">{t("lastname")}</span>
            </div>
            <span class="header-name-separator"></span>
            <span class="header-role">{t("role")}</span>
        </a>
        <ul class="nav-list header-nav-list">
            <li class="nav-item header-nav-item">
                <a href="#expertise">{t("header.sections.expertise")}</a>
            </li>
            <li class="nav-item header-nav-item">
                <a href="#projects">{t("header.sections.projects")}</a>
            </li>
            <li class="nav-item header-nav-item">
                <a href="#about">{t("header.sections.about")}</a>
            </li>
            <li class="nav-item header-nav-item">
                <a href="#contact">{t("header.sections.contact")}</a>
            </li>
        </ul>

        <button class="button button-primary header-button">{t("header.buttons.cv")}</button>
    </nav>
</header>