---
import Title from './Title.astro';

interface Props {
  number: string;
  description: string;
  title: string;
}

const { number, description, title } = Astro.props;
---

<section class="section">
  <Title number={number} description={description} title={title} />
  <div class="section-content">
    <slot />
  </div>
</section>