:root {

    --header-height: 3.5rem;
    
    --bg: #111010;
    --surface: #191616;
    --surface2: #201d1c;
    --red: #a93a31;
    --red-bright: #e76a5b;
    --cream: #f3ede0;
    --cream-dim: #ded5c4;
    --gray: #b0a79e;
    --gray-soft: #91877f;
    --border: #302b29;
    --border2: #403937;
    --cream: #faf6ee;
    --focus: #ff8d7b;
    --green: #4ade80;

    --font-primary: "Bebas Neue", sans-serif;
    --font-secondary: "Cormorant Garamond", serif;
    --font-mono: "IBM Plex Mono", monospace;

    --fs-h1: clamp(2.5rem, 6vw, 5rem);
    --fs-h2: clamp(2rem, 5vw, 3.5rem);
    --fs-h3: clamp(1.5rem, 4vw, 2.5rem);
    --fs-h4: clamp(1.2rem, 3vw, 1.8rem);
    --fs-h5: clamp(1rem, 2vw, 1.5rem);
    --fs-p: clamp(1rem, 1.2vw, 1.125rem);
    --fs-xs: clamp(0.75rem, 0.9vw, 0.875rem);
    --fs-xxs: clamp(0.625rem, 0.8vw, 0.75rem);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 900;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: var(--gray-soft);
    text-decoration: none;
}

body{
    background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6{
    color: var(--cream);
}

ul{
    list-style: none;
}

.button{
    padding: 0rem 1.5rem;
    background-color: transparent;
    color: var(--cream);
    font-size: var(--fs-xs);
    text-transform: uppercase;
    font-weight: var(--fw-light);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-primary{
    background-color: var(--red);
}

.button-primary:hover{
    background-color: var(--red-bright);
}

.button-secondary{
    background-color: transparent;
    color: var(--gray);
    border: 1px solid var(--border);
}

.button-secondary:hover{
    color: var(--cream);
    border-color: var(--cream);
}