:root {
  --bp-sm: 40rem;
  --bp-md: 64rem;
  --bp-lg: 80rem;

  --header-height: 3.5rem;

  --bg: #111010;
  --surface: #191616;
  --surface2: #201d1c;
  --red: #a93a31;
  --red-bright: #e76a5b;
  --cream: #faf6ee;
  --cream-dim: #ded5c4;
  --gray: #b0a79e;
  --gray-soft: #a89f96;
  --border: #302b29;
  --border2: #403937;
  --focus: #ff8d7b;
  --green: #4ade80;

  --font-primary: "Bebas Neue", sans-serif;
  --font-secondary: "Cormorant Garamond", serif;
  --font-mono: "IBM Plex Mono", monospace;

  --text-xxl: clamp(2.5rem, 6vw, 5rem);
  --text-xl: clamp(2rem, 5vw, 3.5rem);
  --text-lg: clamp(1.35rem, 3.5vw, 2.25rem);
  --text-md: clamp(1rem, 2vw, 1.25rem);
  --text-sm: 0.875rem;
  --text-base: 0.8125rem;
  --text-xs: 0.75rem;
  --text-xxs: 0.6875rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  letter-spacing: 0.08em;
  color: var(--gray-soft);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-size: var(--text-base);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--cream);
}

ul {
  list-style: none;
}

.button {
  padding: 0 1.5rem;
  background-color: transparent;
  color: var(--cream);
  font-size: var(--text-xs);
  text-transform: uppercase;
  font-weight: var(--fw-light);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary {
  background-color: var(--red);
}

.button-primary:hover {
  background-color: var(--red-bright);
}

.button-secondary {
  font-family: var(--font-secondary);
  font-weight: var(--fw-light);
  font-style: italic;
  letter-spacing: -0.05em;
  background-color: transparent;
  color: var(--gray);
  border: 1px solid var(--border);
}

.button-secondary:hover {
  color: var(--cream);
  border-color: var(--cream);
}

.button,
a.button,
.header-nav-item a,
.footer-social-item a {
  min-height: 2.75rem;
  min-width: 2.75rem;
}
