---
import ProjectAccordionItem from "./ProjectAccordionItem.astro";
import { PROJECTS_INITIAL_COUNT } from "../../data/projects";
import type { Project } from "../../types/project";
import type { createT } from "../../langs/createT";

interface Props {
  projects: Project[];
  t: ReturnType<typeof createT>;
}

const { projects, t } = Astro.props;
---

<div
  class="projects-accordion"
  data-project-accordion
  data-initial-count={PROJECTS_INITIAL_COUNT}
>
  {
    projects.map((project, index) => (
      <ProjectAccordionItem
        project={project}
        t={t}
        isDefaultOpen={index === 0}
        eagerPreview={index === 0}
      />
    ))
  }
</div>
