---
import { getLang } from "../../langs";
import { createT } from "../../langs/createT";
import Section from "../Section.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const t = createT(getLang(lang));
---

<Section
  id="about"
  number={t("sections.about.number")}
  description={t("sections.about.description")}
  title={t("sections.about.title")}
>
  <p>{t("sections.about.placeholder")}</p>
</Section>
